<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedidos</title>
</head>

<body>
    <div id="encabezado">
        <div class="titulo">
            <form action="/pedidos/guardar/" method="POST">
                {% csrf_token %}
                <input placeholder="Ingrese su pedido" name="orden">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</body>

</html>